<app-header></app-header>
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="row pb-3">
        <div class="col">
          <h4>Programa 'Guayaquil Emprende'</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <iframe src="https://www.youtube.com/embed/Nrh1bgvvsh4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="mr-3" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/7iwggHk1290" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="mr-3" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/26XafeoMHNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="mr-3" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row py-3">
        <div class="col">
          <h4>Webinars</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <iframe src="https://www.youtube.com/embed/Wc5GmgT3yCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="mr-3" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/falxioWme9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <h4>Otros recursos</h4>
      <ul>
        <li><a href="https://www.youtube.com/channel/UCyM-2pRapEv6V2q7UNO9icg" target="blank">Emprende Aprendiendo (Youtube)</a></li>
        <li><a routerLink="/aprendizaje">Entrepreneur (blog - EN)</a></li>
        <li><a routerLink="/aprendizaje">Entrepreneur (blog - ES)</a></li>
      </ul>
    </div>
  </div>
</div>