<div class="container py-5">
  <div class="row pb-5">
    <div class="col"></div>
    <div class="col-8">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row pb-3">
    <div class="col text-center">
      <h3>Habilidades duras Hardskills</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <select class="custom-select">
            <option selected>Nivel de estudios</option>
            <option value="1">Primaria</option>
            <option value="2">Secundaria</option>
            <option value="3">Tercer nivel</option>
            <option value="4">Cuarto nivel</option>
          </select>
        </div>
        <div class="form-group">
          <label for="institute">Nombre del instituto</label>
          <input type="text" class="form-control" id="institute" aria-describedby="emailHelp" placeholder="Ingresa el nombre del instituto">
        </div>
        <div class="form-group">
          <label for="degree">Título obtenido</label>
          <input type="text" class="form-control" id="degree" aria-describedby="emailHelp" placeholder="Ingresa el título obtenido">
        </div>
      </form>
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Microsoft Office</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Redes sociales</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Finanzas personales</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">Programación</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">Skill adicional 1</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck6">
            <label class="custom-control-label" for="customCheck6">Skill adicional 2</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck7">
            <label class="custom-control-label" for="customCheck7">Skill adicional 3</label>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="certificate">Certificado</label>
          <input type="text" class="form-control" id="certificate" aria-describedby="emailHelp" placeholder="Ingresa un certificado">
        </div>
        <div class="form-group">
          <label for="evidence">Evidencia</label>
          <input type="text" class="form-control" id="evidence" aria-describedby="emailHelp" placeholder="Ingresa un link hacia una evidencia">
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row text-right">
    <div class="col">
      <button class="btn btn-primary" routerLink="/soft-skills">Siguiente</button>
    </div>
  </div>
</div>