<div class="container">
  <div class="row py-5">
    <div class="col-md text-center">
      <h2>Guayaquil</h2>
      <h1 class="display-3"><strong>Emprendedore<span class="ide-text-purple">X</span></strong></h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md">
      <h4>Soy</h4>
    </div>
  </div>

  <div class="row py-2 justify-content-center">
    <div class="col-md-3 my-auto">
      <button class="btn btn-block ide-bg-purple text-light" style="height:150px" routerLink="">
        <h6>Entidad</h6>
        </button>
    </div>
    <div class="col-md-3 my-auto">
      <button class="btn btn-block ide-bg-purple text-light" style="height:200px" routerLink="basic-info">
        <h6>Emprendedor</h6>
      </button>
    </div>
    <div class="col-md-3 my-auto">
      <button class="btn btn-block ide-bg-purple text-light" style="height:150px" routerLink="">
        <h6>Mentor</h6>
        </button>
    </div>
  </div>
</div>